<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
<div class="container mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-auto"><h2>Products</h2></div>
            <div class="col"></div>
            <div class="col-md-auto">
                <a class="btn btn-warning mr-4" th:href="@{/cart}">View Cart</a>
                <a class="btn btn-outline-dark" th:href="@{/login}">Logout</a>
            </div>
        </div>
    </div>
    <hr/>
    <a th:href="@{/addProduct}" class="btn btn-dark mb-4">Add</a>
    <div class="container">
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="myFilter" onkeyup="search()" placeholder="Search Products.." aria-label="Search Products.." aria-describedby="button-addon2">
        </div>
        <div class="row row-cols-1 row-cols-md-4 g-4" id="myProducts">
            <div class="col" th:each="p: ${products}" >
                <div class="card h-100">
                    <div class="card-body">
                        <img th:src="*{'data:image/jpeg;base64,'+{p.picture}}" style="width: 100%; height: auto" class="card-img-top" alt="...">
                        <h5 class="card-title">[[*{p.name}]]</h5>
                        <p class="card-text">[[*{p.description}]]</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">[[${p.price}]] TND</small>
                        <div style="float: right;">
                            <a th:href="@{/UpdateProductForm(productId=${p.id})}"  class="btn btn-secondary ml-2">Edit</a>
                            <a th:href="@{/DeleteProduct(productId=${p.id})}" class="btn btn-danger ml-2">Delete</a>
                            <a th:href="@{/AddProductToCart(productId=${p.id})}" class="btn btn-success">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>function search() {
    var input, filter, cards, cardContainer, title, i;
    input = document.getElementById("myFilter");
    filter = input.value.toUpperCase();
    cardContainer = document.getElementById("myProducts");
    cards = cardContainer.getElementsByClassName("col");
    for (i = 0; i < cards.length; i++) {
        title = cards[i].querySelector(".card-title");
        if (title.innerText.toUpperCase().indexOf(filter) > -1) {
            cards[i].style.display = "";

        } else {
            cards[i].style.display = "none";
        }
    }
}
</script>
</body>
</html>